doctype html
html
	head
		link(href="./css/bootstrap.min.css",rel="stylesheet")
		link(href="/css/vex.css",rel="stylesheet")
		script(src="./libs/jquery.min.js")
		script(src="./libs/bootstrap.min.js")
		script(src='./libs/angular.min.js')


	body
		.panel.panel-primary
			.panel-heading
				h3 Input Picutures
			.panel-body
				.col-md-3
					.thumbnail
						img(src="./uploads2/#{source1}",  style="width:250px;height:250px;")
				.col-md-2
					.thumbnail
						img(src="./default/plus.jpg",  style="width:250px;height:250px;")
				.col-md-2
					.thumbnail
						img(src="./uploads2/#{source2}",  style="width:250px;height:250px;")
				.col-md-2
					.thumbnail
						img(src="./default/minus.jpg",  style="width:250px;height:250px;")
				.col-md-3
					.thumbnail
						img(src="./uploads2/#{source3}",  style="width:250px;height:250px;")
		.panel.panel-primary
			.panel-heading
				h3 Output Picutures
			.panel-body
				.col-md-2
				.col-md-2
				.col-md-2
					.thumbnail
						img(src="./default/equal.jpg",  style="width:250px;height:250px;")
				.col-md-2
					.thumbnail
						img(src='./results/result.jpg',  style="width:250px;height:250px;")
				.col-md-2
